.about-title{
    text-align: center;
}
.about-title h1{
    font-size: 50px;
    font-weight: 600;
    
}
.about-title img{
    width: 140px;
    height: 50px;
   
    margin-top: -100px;
    margin-left: 120px;
    
    opacity: 0.2;

}
.about-structure{
    display: flex;
    gap: 50px;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 100px;
  
    width: 73%;
    
}
.about-structure img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
   
}
.about-structure p{
    font-size: 22px;
    padding-top: 60px;
}
.about-structure div{
    font-size: 22px;
    
}
.about-summary{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;

}
.vertical-line{
    display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 80px;
}
.summary-section h1{
    background: linear-gradient(267deg, #DA7C25 , #B923E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
@media (max-width: 768px) {
    .about-structure{
        display: flex;
        
        margin: 0px;
        flex-direction: column;
        

    }
    .about-structure img{
        margin: 50px 0px 0px 65px;
        width: 250px;
        height: 250px;
    }
    .about-content{
      
        margin: -30px 0px 0px 20px;
    }
    .about-content p{
        font-size: 15px;
        margin: -50px 0px 0px 60px;
        width: 220px;
        
    }
    .about-content div{
        font-size: 15px;
        margin: 10px 0px 0px 60px;
        width: 220px;
       
    }
    .about-summary{
        display: none;
    }
}